# Node dependencies
node_modules/

# Logs
logs/
*.log
log/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/
*.swp
*~

# WebdriverIO / test artifacts
reports/
allure-results/
test-results/
screenshots/
video/

# Misc
.env
.env.*
.eslintcache
!.env.example

apps/*.apk


